
/* Cabaçalho*/
header {
    margin-top: -15px;
    background-image: url(../../assets/img/pexels-quintin-gellar-696205.jpg);
    background-position: center;
    background-size: cover; /* Para ajustar a imagem ao tamanho do cabeçalho */
    width: 100vw;
    height: 20em;
}

.headerTop {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

span{
    color: rgb(111, 18, 18);
}