/* Defina a altura desejada para o Navbar recolhido */
.navbar:not(.show) {
    height: 100px;
    background-color: #7a3e28a5;
    padding: 10px;
  }
  
  .navbar{
    background-color: #7a3e28a5;
    width: 100%;
  }
  /* CSS personalizado para mover o ícone do "hamburguer" para o lado esquerdo */
.navbar-toggler-icon {
    position: absolute;

    left: 10px; /* Ajuste a posição conforme necessário */
  }

.NomeSistema{
  text-align: center;
  margin-left: 350px;
  font-size: 350px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(101, 8, 8);
}

.tituloSistema{
  text-align:center ;
}