
.navbar:not(.show) {
    height: 100px;
    
  }
  
#NavTotal{
  width: 100%;
  height: 100%;
  background-color: #7a3e28a5;
}
  /* CSS personalizado para mover o ícone do "hamburguer" para o lado esquerdo */
.navbar-toggler-icon {
    position: absolute;

    left: 10px; /* Ajuste a posição conforme necessário */
  }

.NomeSistema{
  text-align: center;
  color: white;
}

.tituloSistema{
  margin-left: 200px;
  text-align:center ;
  color: white;
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#listaMenulateral{
  width: 100%;
}
#listaMenulateral> a{
  width: 100%;
  height: 100%;
  padding: 2px;
}
#listaMenulateral> a:hover{
  background-color: rgb(165, 40, 40);
  width: 100%;
  color: white;
}